@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#F2F6F7] text-gray-900 transition-colors duration-200;
}

.dark body {
  @apply bg-gray-900 text-gray-100;
}

/* Step 1: Define all three fonts */
@font-face {
  font-family: 'FontOne';
  src: url('../public/fonts/NoctraDrip-SolidMelt.ttf');

}

@font-face {
  font-family: 'FontTwo';

  src: url('../public/fonts/Lucy\ Said\ Ok\ Personal\ Use.ttf');

}

@font-face {
  font-family: 'FontThree';
  src: url('../public/fonts/Street\ Master\ Shadow.otf');

}

/* Step 2: Apply fonts strategically */
body {
  font-family: 'FontOne', sans-serif;
  /* Main content font */
  background-color: #fafafa;
  color: #222;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: 'FontTwo', serif;
  /* Headings */
  letter-spacing: 1px;
}

button,
.highlight {
  font-family: 'FontThree', cursive;
  /* Accents or highlights */
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-family: 'FontOne', sans-serif;
}